.vscode
# Node modules
node_modules/

# Build output
.next/
out/

# Production
build/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE setup
.idea/
*.sublime-workspace
*.sublime-project
.vscode/

# OS files
.DS_Store
Thumbs.db

# Miscellaneous
coverage/
*.tgz
