# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Database
db/

# Unit test / coverage reports
htmlcov/
coverage/
.coverage
.coverage.*
.cache
coverage.xml
*.cover
*.py,cover
.pytest_cache/

# Translations
*.mo
*.pot

# pyenv
.python-version

# poetry
pyproject.toml
poetry.lock

# Environments
.env
.env.production
.env*.local
.venv/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# dependencies
node_modules/
.pnp/
.pnp.js
.yarn/install-state.gz

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# IDE/editor settings
.idea/
.vscode/

# Qodana
qodana.yaml
