# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
dist/
build/
*.egg

# Node.js
node_modules/
npm-debug.log
yarn-error.log

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db

# Среда разработки (например, PyCharm, VSCode)
.idea/

# Логи
*.log

# Секреты и конфигурации
.env
