name: check

on: push

jobs:
  flake8:
    runs-on: ubuntu-latest
    steps:
      - name: Go to backend directory
        run: cd backend
      - name: Setup Python
        uses: actions/setup-python@v1
        with:
          python-version: 3.11.9
          architecture: x64
      - name: Checkout PyTorch
        uses: actions/checkout@master
      - name: Install flake8
        run: pip install flake8
      - name: Run flake8
        run: python -m flake8 backend
  mypy:
    runs-on: ubuntu-latest
    steps:
      - name: Setup Python
        uses: actions/setup-python@v1
        with:
          python-version: 3.11.9
          architecture: x64
      - name: Checkout
        uses: actions/checkout@v1
      - name: Install mypy
        run: pip install mypy
      - name: Run mypy
        run: python -m mypy -p backend/src --ignore-missing-imports
